
.msviLSBssearch{
	margin: 0px;
    padding: 0px;
    padding-top:2px;
    margin-bottom:1px;
}

.msviLSBForm{
    margin: 0px;
    padding: 0px;
}

.msviLSBsform{
    font-family: Verdana,"Microsoft Sans Serif", sans-serif;
    font-size: 100%;
    padding: 0px;
    height: 23px;
    z-index: 2;
    position: absolute;
    top: 41px;
    width:500px;
    left:327px;
}

body:first-of-type .msviLSBsform { top:41px; }

#msBing{
    background-color:white;
    filter:alpha(opacity=70);
    opacity:0.7;
    text-align:left;
    height:21px;
    padding-bottom:2px;
    border:solid 1px #9cd9eb;
    position:relative;
    display:inline-block;
    margin:0px;
    padding-left:2px;
    width:298px;
    float:left;
}

.msviLSBtbox{ 
    border-width:0px;
    border-style:none;
    width: 223px;
    vertical-align: middle;
    padding-top:0px;
    padding-left:4px;
    padding-right:0px;
    font-size: 12px;
    position:relative;
    top:-5px;
    color: #646464 !important;
}

.SimpleSearchWebButton{
	position:relative;
	top:-7px;
}

A.SimpleSearchWebButtonText:link,  A.SimpleSearchWebButtonText:visited, A.SimpleSearchWebButtonText:hover{
	color:white;
	text-decoration:none;
}

.SimpleSearchWebButton{
	margin-left:4px;
}

#msviLSBWeb{
    width:38px;
    border-width: 0;
    padding: 0px;
    height:20px;
    background-color:transparent;
    background-image: url('../Images/Localized/en-us.gif');
    background-repeat:no-repeat;
    margin-left:5px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:1px;
    cursor:pointer;
	position: relative;
	top:-2px;
}

.msviLSBlogo{
    height:22px;
    width:47px;
    margin:0px;
    margin-left:-10px;
}

#msviGlobalSearch{
	  filter: none !important;
	  background: none !important;
}

#msviGlobalSearch{
    position:relative;
    visibility: visible;
    background-color: transparent;
}

td#msviGlobalSearch{
    color: #afd7ff;
}

#msBing
{
	display:inline;
}
.msviLSBtbox
{
	top:-3px;
	margin-bottom:2px;
}

.SimpleSearchWebButton
{
position:relative;
top:0px;
}
#WebSearchButtonLeft
{
position:relative;
top:3px;
}
#WebSearchButtonRight
{
position:relative;
top:3px;
}


.searchParentContainerDivCss
{
	width:500px;
	height:23px;
}
.searchTheWebImageButtonDivCss
{
	height:20px;
	width:180px;
	float:left;
}
.searchTheWebImageButtonCss
{
	height:20px;
    border-width: 0;
    padding: 0px;    
    margin-left:5px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:1px;
    cursor:pointer;
	position: relative;
	top:2px;
}

#baseHeader
{
    position:relative!important;
}

.navMenu
{
    margin-top:-1px;
}

#header_left, #header_right
{
	width:45%!important;
}