/*#msviBrandBanner
{
	padding-top: 25px;
}
td#msviGlobalSearch
{
	top-padding: 32px;
}*/
	
#lspLink 
{
	width:369px;
	height:41px; 
	margin:0; 
	padding:0;
	display: none;
	left:2px; 
	position:absolute;
	background-image: url('../images/cps/ie/EIE_icon_ltBG.gif'); 
	background-repeat: no-repeat;	
}

#lspLink a 
{
	font-family:Tahoma,Verdana;
	color:#000;
	text-decoration:none;
	position:relative;
	left:35px;
	top:6px;
}

#lspLink a:active, #lspLink a:hover
{
	cursor:pointer;
	color:#138cdd;
	border-bottom:dotted 1px #138cdd;
}

#lspTile 
{
	top: 0;
	height:133px;
	width:423px; 
	padding:0; 
	margin:0; 
	display:none; 
	position:absolute; 
	z-index:15; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1, scale=3); 
	float:left; 
	border:solid 1px transparent; 
	background-image:url('../images/cps/ie/EIE_bg_brandLead.png');
	background-repeat:no-repeat;
	background-color:Transparent;
}

#lspAdd 
{ 
	position:absolute; 
	left:285px; 
	bottom: 2px; 
	margin:0; 
	padding:0; 
	float:left; 
}

#lspClose 
{ 
	width:13px; 
	height:13px; 
	position:relative; 
	left:406px; 
	top:4px; 
	margin:0; 
	padding:0; 
	cursor:pointer; 
	float:left; 
}

#lspClose img, #lspAdd img 
{ 
	border:none; 
}

#lspDontShow 
{ 
	margin:0; 
	padding:0; 
	position:absolute; 
	top:111px; 
	left:8px; 
	float:left; 
}

#lspDontShow a 
{ 
	color: #48819c; 
	font-family:Tahoma; 
	text-decoration:underline; 
}

#lspDontShow a:active, #lspDontShow a:hover 
{ 
	color: #ffffff; 
	cursor:pointer; 
}	

#cps
{
	position: relative;  	
	z-index: 1001;
}