#inThisArticle
{
	float:right;
	background:url('../images/in_this_article_bottom.gif') repeat-x bottom #f7f6f2;
	width:166px;
	margin:50px 0 18px 10px;
}

#inThisArticle h3
{
	height:20px;
	background-color:#E1DDCC;
	margin:0;
	line-height:20px;
	vertical-align:middle;
	padding:0 8px;
}

#inThisArticle div
{
	padding: 0 8px 8px 8px;
}

#inThisArticle ul
{
	margin:0 0 0 15px;
}

#inThisArticle ul li
{
	margin-top:5px;
}
		
#pageTitle
{
	height:83px;
	width:918px;
	padding:0;
	margin:0;
}

#pageTitle h1
{
	font-size:20px;
	font-weight:normal;
	color:#585858;
	margin:0;
	padding:30px 0 30px 0;
}

/* Ian compareeditions.aspx */
table#editionsIcons 
{
    width:100%; 
    margin-top:20px;
    padding:0;   
}

table#editionsIcons td
{
    text-align:center;    
}

table#editionsFeatures
{
    width:100%;
    margin-bottom:20px;
    padding:0;
    border-collapse:collapse;   
}

table#editionsFeatures td
{
    vertical-align:middle;
    padding:5px;    
}

table#editionsFeatures td.colOneHeader
{
    border-top:0;
    border-left:none;
    border-right:none;
    border-bottom:dotted 1px gray;
    
}

table#editionsFeatures td.colOne
{
    text-align:left;
    width:40%;  
    border-bottom:dotted 1px gray;
    border-right:dotted 1px gray;
}

table#editionsFeatures td.colOther
{
    text-align:center;
    width:15%; 
    border-bottom:dotted 1px gray;   
    border-right:dotted 1px gray; 
}

table#editionsFeatures td.colLast
{
    text-align:center;
    width:15%; 
    border-bottom:dotted 1px gray; 
}

img.question_mark
{
	vertical-align:middle;
	margin:0;
	padding:0;
}


/* Ian article-with-image.aspx */
.introHighlight
{
    width:110px;
    padding:0 10px 10px 0;
    float:left;
}


/* Ian getvista.aspx */
#centerLeft
{
    width:45%;
    float:left;
    margin-right:10px;
    text-align:left;
}

#centerRight
{
    width:45%;
    float:left;    
    text-align:left;
}


/* Ian getvista-newpc.aspx */
.highLight
{
    margin:0;
    padding:0 0 40px 0;  
}

.highLight img
{
    padding-right:10px;
    margin:0;
    float:left; 
}


/* Ian gettingstarted1a.aspx */
.highLightRight, .highLightLeft
{
    padding-bottom:50px;    
}

.highLightRight img
{
    float:right;
    padding-left:10px;
}

.highLightLeft img
{
    float:left;
    padding-right:10px;
}

ul.linkList
{
    list-style-type:none;
    margin:0;
    padding:5px 0 0 0;    
}

ul.linkList li
{
    padding-bottom:8px;    
}



/* Ian gettingstarted1b.aspx */
.centerLeftHighLight
{   
    padding:0 0 25px 0;
    margin:0;
}

.centerLeftHighLight img
{
    float:left;
    padding:0 10px 10px 0;
    margin:0;
}

p.headLine
{
    padding:0;
    margin:0 0 5px 0;
    font-size:110%; 
    font-weight:bold;   
}



/* Ian top10things.aspx */
p.headLine2
{
    padding:0;
    margin:0 0 5px 0;
    font-size:100%; 
    font-weight:bold;   
}

.highLightBlock
{
    margin:30px 0 0 0;
    padding:0;  
}

.highLightFull
{
    margin:0;
    padding:0 0 40px 0;  
}

.highLightFull img
{
    padding:0 10px 50px 0;
    margin:0;
    float:left; 
}



/* Ian photosoverview.aspx */
.photoRight
{
    margin:0 0 0 21px;
    padding:1px 1px 0px 1px;
    background-color:#80adcb;
    float:right;    
}

.photoRight .img
{
    background-color:#cedbe4;
    margin:0;   
}

.photoRight p
{
    color:#ffffff;
    font-size:11px;
    margin:3px 14px 5px 14px;
}

img.screenShot
{
    background-color:#cedbe4;
    padding:10px 5px 15px 5px;
    margin:0;
}

h3.blue
{
    color:#216999;   
}


/* Ian photosdemo.aspx */
#demoPlayer
{
    margin:20px 0 0 0;
    padding:0;
}


/* Ian flip3d.aspx */
.articleImage
{
    padding:10px 0 10px 0;
    margin:0;    
}

/*p.caption
{
    color:Gray;
    font-style:italic;
}*/  

/* Josh - feature version compare table */
#featureVersion
{
	float:right; 
	padding:4px 0 10px 16px;
	width:150px;
	margin:0;
}

#featureVersion a
{
	line-height:1.2em;
}

#featureVersion a:hover
{
    text-decoration:underline;
    color:#4eb0e9;
    line-height:1.2em;
}

#featureVersion table
{
    width:100%;
    padding:0;
    margin:0;
}

#featureVersion td
{
	padding:3px 0 3px 0;
}

#featureVersion td p
{
	line-height:100%;
	vertical-align:middle;
	padding:0;
	margin:0 0 5px 0
}

td.fadeLine
{
    background-image:url(../images/windows-vista/feat_key_fadelines.gif);
	background-repeat:no-repeat;
	height:1px;
}

tr.fadeLineTop
{
    margin:0;
    padding:0;
}

/* Ian - worldwide sites */
#worldwideFull
{
    margin:0;
    padding:0;
    float:left;
    width: 707px;
    margin-right:31px;
}

#worldwideLeft
{
    width:345px;
    margin-right:16px;
    padding:0;
    float:left;
}

#worldwideRight
{
    width:346px;
    padding:0;
    float:left;
}


/* Ian - Buy landing page */
#dropDownList
{
    width:100%;
}

#featuredPCs
{
    background-image:url(../images/feature_background.gif);
    background-repeat:no-repeat;
    padding:0;
    width:450px;
    height:400px;
}

#featuredPCs .imagelistRight p 
{	
	margin:12px 0 0 0;
	padding:0;
}

#featuredPCs .imagelistLeft
{
	padding:0 2px 0 0;
	margin:0;
}

/* Josh - Screenshots */
.alignleft
{
	margin:20px 0 20px 25px;
	text-align:left;
}

#feature_content .alignleft 
{
	clear:both;
}
.float_left_screenshot
{
	float:left;
	margin-right:16px;
}

html>body .float_left_screenshot
{
	margin-bottom:20px;
}

.float_right_screenshot
{
	float:right;
	margin-left:16px;
	margin-bottom: 10px;
}

ul div.screenshot
{
	margin-top:15px;
}

.screenshot, .screenshot_white
{
	text-align:left;
}

.screenshot p
{
	color:#ffffff;
	font-size:12px;
	padding: 4px 14px 4px 14px;
	margin:0;
	text-align:left;
}

.screenshot p a:hover
{
	text-decoration:underline;
	color:#196297;
}

.screenshot_white p
{
	color:#646464;
	font-size:12px;
	padding: 4px 14px 4px 14px;
	margin:0;
}

.screenshot img, .screenshot_white img
{
	padding: 7px 8px 10px 8px;
	border:none;
	margin:0;
}

.screenshot_white
{
	border:1px solid #cedbe4;
}

.screenshot_white img
{
	background-color:#fff;
}

.screenshot_white p
{
	/*background-color:#cedbe4;*/
	background-color:#d3e2e9;
}

.screenshot
{
	background-color:#cedbe4;
	border:1px solid #577589;
}

.screenshot img
{
	background-color:#d3e2e9;
}

.screenshot p
{
	background-color:#577589;
}

/* DELETE
.float_right
{
	float:right;
}*/


/* Ian Products Home */

#productsHero
{
    width:958px;
    height:190px;
    margin-bottom:30px;
    padding:0;
}

#productsFullWidth
{
    width:958px;
    margin:auto;
    padding:0;
}

#productsRow
{
    width:958px;
    /*margin:30px 0 0 0;*/
    padding:0;
    clear:both;
    min-height:200px;
    margin:0;
    padding:0;
}

#productsRowFirst
{
    width:958px;
    margin:30px 0 0 0;
    padding:0;
    clear:both;
    min-height:200px;
}

#leftContentBox
{
	float:left;
    width:262px;
    padding-left:53px;
    margin-right:30px;
}

#middleContentBox
{
	float:left;
    width:262px;
    margin-right:30px;
}

#rightContentBox
{
	float:left;
    width:262px;
    margin-right:30px;
}


#productsDivider
{
    background-image:url(../images/page_div.jpg);
    background-repeat:no-repeat;
    width:958px;
    height:5px;
    margin:15px 0 15px 0;
    clear:both;
}

.white
{
	color:#fff;
}

#leftHero
{
	float:left;
	width:352;
	height:190px;
}

#rightHerotop
{
	float:left;
	width:582px;
	height:130px;
	background-color:#693c39;
	padding:21px 0 0 24px;
	margin:0;
}

#rightHerobottom
{
	width:606px;
	height:39px;
	background-color:#3b4452;
	padding:0;
	margin:0;
	float:right;
}

/* Ian Vista Home */

/*#vistaHero
{
	width:481px;
	height:237px;
}*/

#vistaCampaign
{ 
  width: 190px;
  height: 241px;
  float:right;
  margin-top: 12px;
}

#vistaCampaignXP
{ 
  width: 190px;
  height: 241px;
  float:right;
  margin: 0;
}

/* Ian Downloads Home */
#featuredDownloads h2
{
	font-size:18px;
	font-weight:lighter;
	color:#f58220;
	padding:0;
	margin:10px 0 15px 0;
}

#featuredDownloads img
{
    margin:0 0 10px 30px;
}

#featuredDownloads li
{
    color:#196297;
}

.articleThreeColumnFull
{
	float:left;
	width:707px;
	margin:0;
	padding:0;
}

.dividerLeft
{
    background-image:url(../images/downloads/hdr_line_rr_180x5.gif);
    background-repeat:no-repeat;
    width:180px;
    height:5px;
}

.dividerFull
{
    background-image:url(../images/downloads/browse_grad_top_707x5.gif);
    background-repeat:no-repeat;
    width:707px;
    height:5px;
    margin:0;
    padding:0;
}

.dividerVista
{
	background-image:url(../images/downloads/browse_grad_top_469x5.gif);
    background-repeat:no-repeat;
    width:469px;
    height:5px;
    margin:40px 0 15px 0;
    padding:0;
    clear:both;
}

#heroLeftText
{
    z-index:100;
    width:192px;
    margin:-250px 0 0 0;
    padding:0 0 10px 10px;
    float:left;
}

#heroLeftText p
{
    color:#5c3838;
    padding-right:10px;
}

#heroRightText
{
    z-index:100;
    width:231px;
    margin:-130px 0 0 0px;
    padding:0 10px 20px 200px;
    float:left;
}

#heroRightText li
{
    color:#646464;
}




/* Downloads Page */

.browseDownloads
{
	font-family:Segoe UI, Arial;
	font-size:12px;
	line-height:1.2em;
	margin:0;
	padding:0;
	border:0;
	
}

.browseDownloads td
{
	vertical-align:top;
}

.downloadsCategoriesPanelLeft
{
	min-height:259px;
	background-image:url(../images/downloads/browse_div_vertical_259x1.gif);
    background-repeat:no-repeat;
    background-position:left;
    color:#646464;
    width:199px;
    overflow:hidden;
	margin:0;
	padding:0;
}

.downloadsCategoriesPanel
{
	min-height:259px;
	background-image:url(../images/downloads/browse_div_vertical_259x1.gif);
    background-repeat:no-repeat;
    background-position:top left;
    color:#646464;
    overflow-y:auto;
    overflow-x:hidden;
	margin:0;
	padding:0 10px 0 0;
	width:227px;
}

.downloadsCategoriesPanelMiddle
{
	height:266px;
	background-image:url(../images/downloads/browse_div_vertical_259x1.gif);
    background-repeat:no-repeat;
    background-position:top left;
    color:#646464;
    overflow-y:auto;
    overflow-x:hidden;
    width:260px;
    margin:0;
	padding:0 10px 0 0;
}

.downloadsLoadingPanel
{
    min-height:259px;	
}

div.downloadListItem, div.downloadListItemHighlighted
{
	margin:3px 0 0 1px;
	cursor:pointer;
	padding:2px 0 2px 5px;
	width:90%;
	line-height:1em;
}

div.downloadListItemSelected
{
	margin:3px 0 0 1px;
	cursor:pointer;
	padding:2px 0 2px 5px;
	width:100%;
	line-height:1em;
	overflow:hidden;
}

div.downloadListItemMiddle, div.downloadListItemHighlightedMiddle
{
	margin:3px 0 0 1px;
	cursor:pointer;
	padding:6px 60px 6px 5px;
	width:240px;
	line-height:1em;
	overflow:hidden;
}

div.downloadListItemSelectedMiddle
{
	margin:3px 0 0 1px;
	cursor:pointer;
	padding:6px 60px 6px 5px;
	width:240px;
	line-height:1em;
	overflow:hidden;
}

div.downloadListItem, div.downloadListItemMiddle 
{
	background-color:#ffffff;
	color:#646464;
}

div.downloadListItemMiddle img, .downloadItemDetails img
{
	width:11px;
	height:11px;
	margin-left:3px;
}

div.downloadListItemHighlighted, div.downloadListItemHighlightedMiddle
{
	background-color:#ffffff;
	color:#196297;
}

div.downloadListItemSelected, div.downloadListItemSelectedMiddle
{
	background-color:#ebf6fc;
	color:#196297;
}

.downloadItemDetails
{
	visibility: hidden;				
}

td.browseDownloadsHorizDiv
{
    background-image:url(../images/downloads/browse_grad_top_707x5.gif);
    background-repeat:no-repeat;
    width:707px;
    height:5px;
    margin:0 0 12px 0
}

td.browseDownloadsHorizDivBottom
{
    background-image:url(../images/downloads/browse_grad_bottom_707x5.jpg);
    background-repeat:no-repeat;
    width:707px;
    height:5px;
    margin:0 0 12px 0;
}

/*td.browseDownloadsVertDiv
{
    background-image:url(../images/downloads/browse_div_vertical_218x1.gif);
    background-repeat:no-repeat;
    background-position:left;
    width:1px;
    height:218px;
}*/

tr.top
{
    height:10px;
}

td.oneThird
{
    vertical-align:top;
}

td.oneThirdDownloadDetails
{
    background-image:url(../images/downloads/browse_div_vertical_259x1.gif);
    background-repeat:no-repeat;
    background-position:right;
    height:259px;
    vertical-align:top;
}

div.downloadDetails
{
    margin:7px 0 10px 11px;
}

div.selectItem
{
   margin:7px 0 10px 11px; 
   font-weight:bold;
}

/* Content Footer */
.content_footer, .content_footer_full
{
	clear:both;
	padding-top:10px;
	margin:20px 0 20px 0;
}

.content_footer
{
	background:url('../images/footer_div_line.gif') no-repeat;
	height:40px;
}

.content_footer_full
{
	background:url('../images/footer_div_line_full.gif') no-repeat;
}

.media_types
{
 	float:left;
 	line-height:1.5em;
 	font-size: 12px;
}
 
.media_types a
{
	color:#888888;
}
 
.media_types a:active
{
	color:#F58220;
}

.media_types a:hover
{
	color:#4EB0E9;
	text-decoration:none;
}

.media_types .print
{
 	background-image:url('../images/icons/icon_print_off.gif');
 	background-repeat:no-repeat;
 	padding: 0 10px 0 20px;
 	margin-left:10px;
 	display:block;
 	float:left;
}

.media_types .email
{
 	background-image:url('../images/icons/icon_email_off.gif');
 	background-repeat:no-repeat;
 	padding: 0 0 0 20px;
 	display:block;
 	float:left; 	
}

.media_types a.print:hover
{
 	background-image:url('../images/icons/icon_print_hover.gif');
}

.media_types a.email:hover
{
 	background-image:url('../images/icons/icon_email_hover.gif');
}

.imagelistLeft
{
	clear: none;
	padding-right:10px;
}

.imagelistRight
{
	clear: none;
}

.imagelistRight p
{
	/*margin-top: 10px;*/
	margin-top: -4px;
}
p.margintop
{
	margin:10px 0 0 0;
}

.arrowBlueDisc
{
	margin-top: 1px;
}

.adDefault
{
	width:180px;
	height:150px;
}

.adCMSET2
{
	width:120px; 
	height:240px;
}

/* John - Windows home page */

.text_highlights p
{
	margin:0;
}

p.negativeMargin
{
	margin-top:-10px;
}

/* John - IE page */

#iecontent table
{
	margin-top: 20px;
}

#iecontent .twothirds table
{
	margin-top: 0;
}

#iecontent .twothirds
{
	width: 466px;
	padding-right: 16px;
	vertical-align: top;
}

#iecontent .twothirds table td
{
	vertical-align: top;
}

#iecontent .onethird
{
	vertical-align: top;
	background-color: #eef8ff;
	padding: 10px;
	width:225px;
}

/*.twothirdstop_toprule
{
	background: url('../../Framework/images/hdr_line_twocolumn.gif') no-repeat;
	height: 15px;
}*/
.twothirds h2
{
	margin:0 0 25px 0;
}

.twothirdstop
{
	background: url('../../Framework/images/hdr_line_twocolumn.gif') no-repeat;
	background-position: bottom;
	height: 5px;
	margin-bottom: 10px;
}

.twothirdstop h2
{
	margin-top: 0;
}

.twothirdsbottomleft, .twothirdsbottomright
{
	padding-top: 20px;
	width: 230px;
}

.getie7 select
{
	margin-bottom: 5px;
	font-size: 0.69em;
	font-family: Verdana;
	color: #646464;
}

.ordercd
{
	margin-top: 40px;
}

.ordercd select
{
	font-size:0.69em;
	font-family: Verdana;
	color: #646464;
}

/* John - newsletter page layout */

.leftcolumn
{
	float: left;
	width: 466px;
	margin-right: 16px;
}

.rightcolumn
{
	float: left;
	width: 225px;
	padding: 0;
}

.rightcolumn .aligncenter, .rightcolumn p
{
	margin-left: 25px; /*was 46px*/
}

.rightcolumn .screenshot, .rightcolumn p.caption
{
	margin-left: 0;
}

/* John - CTA alignment */

#article_left .content404, #article_left .contentFootnotes
{
	margin-top: 25px;
}

/* John - Windows Guides */

#twocolumn
{
	margin-top: 10px;
	clear: both;
}

#twocolumn h2
{
	margin: 0;
	padding-bottom: 5px;
}

#twocolumntop
{
	float: left;
	padding: 20px 0;
}

#twocolumnbottom
{
	float: left;
	padding-bottom: 10px;
}

.twocolumntopleft, .twocolumnbottomleft
{
	margin-right: 27px;
	width: 340px;
	float: left;
}

.twocolumntopright, .twocolumnbottomright
{
	width: 340px;
	float: left;
}

.horizontal_divider
{
	background-image: url('../images/div_line_705.gif');
	background-repeat: no-repeat;
	background-position: bottom;
	width: 705px;
	height: 5px;
	clear: both;
}

.vertical_divider
{
	background-image: url('../images/body_gradient_span.gif');
	background-repeat: no-repeat;
	width: 1px;
	height: 425px;
	float: left;
	padding-right: 8px;
	margin: 0;
}

#thirdsheader
{
	margin: 15px 0 25px 0;
	clear: both;
}

#thirdsheader h2
{
	margin:0;
	padding-bottom:5px
}

#thirdscolumn
{
	width: 707px;
	margin-top: 10px;
}

#onethird
{
	float: left;
	width: 225px;
	padding-right: 7px;
	margin: 0;
}

#twothirds img
{
	margin-top: 0;
}

#twothirds
{
	float: left;
	width: 456px;
	padding-left: 10px;
	margin: 0;
}

.twothirds_topleft, .twothirds_topmiddle, .twothirds_topright,
.twothirds_bottomleft, .twothirds_bottommiddle
{
	float: left;
	width: 145px;
	margin-right: 0;
	padding-right: 10px;
}

#thirdsleft, #thirdsmiddle
{
	float: left;
	width: 231px;
	padding-right: 7px;
	margin: 0;
}

#thirdsright
{
	float: left;
	width: 231px;
	margin: 0;
}

#thirdsbottom
{
	float: left;
	width: 100%;
}

#thirdsbottom img
{
	margin-top: 0;
}

.row_divider
{
	background-image: url('../images/hdr_line_twocolumn.gif');
	background-repeat: no-repeat;
	width: 466px;
	height: 1px;
	margin: 10px 0;
}

/* Nick: added class for ie beta world wide page */
.bordered
{
    background-image:url('../images/internet-explorer/beta/table_line_vert.jpg');
    background-position:top left;
    background-repeat: no-repeat;
}
.bordered_row
{
    float:left;
    width:100%;
    background-image:url('../images/internet-explorer/beta/table_line_horiz.jpg');
    background-position:0 0;
    background-repeat: no-repeat;
    padding-top:1px;
}


/* Keith: adding left rail styles for ArticleFullTabSubNav.master */

#leftNav 
{
	width:180px;
	float:left;
}

#articleBody 
{
	width:500px;
	float:left;
}

#leftNav ul li
{
	list-style: none;
	padding: 0;
	margin: 0 15px 10px -10px;
}