.navMenu
{
    position:relative;
    z-index:2;
}

.navMenu .navMenuList
{
    list-style:none;
    margin:0 0 20px 1px;
    white-space:nowrap;
}
.navMenu .navMenuList li
{
    display:inline;
}

.navMenu .navMenuList .menuTitle, .navMenu .navMenuList .menuTitleActive
{
    display:inline;
    float:left;
    margin:0 24px 0 0;
}

#wol_header_nav .navMenu .navMenuList .menuTitleActive a
{
	color:#333333;
}

#wol_header_nav .navMenu .navMenuList .menuTitleLink
{
    color:#0066CC;
    display:block;
    font-size:122%;
    line-height:1.3em;
    margin-bottom:2px;
    white-space:nowrap;
}
#wol_header_nav .navMenu .navMenuList .menuTitleLink:hover,
#wol_header_nav .navMenu .navMenuList .menuLinkSelected:hover
{
    color:#006699;
    text-decoration:none;
}
#wol_header_nav .navMenu .navMenuList .menuLinkSelected
{
    color:#333333;
}
.navMenu .navMenuList .menuDropdown
{
    position:relative;
}

.navMenu .navMenuList .menuDropdown .menuTitleLinkActive
{
    border-bottom:solid 2px #006699;
    margin-bottom:0;
}

.navMenu .navMenuList .menuGroupWrapper
{
    background:#FFFFFF url("/Windows/Framework/images/WindowsNavigation/gl_chrome_grad.gif") repeat-x 0 100%;
    border:solid 1px #CCCCCC;
    display:none;
    left:0;
    min-width:200px;
    padding-bottom:20px;
    position:absolute;
    top:100%;
    width:auto !important;
    width:200px;
}

.menuGroupWrapper
{
	margin:-2px 0 0 0;
}

.navMenu .navMenuList .menuGroupWrapper *
{
    z-index:6;
}

.navMenu .navMenuList .menuGroupWrapper ul
{
    list-style:none;
    margin:0 1px;
}
.navMenu .navMenuList .menuGroupWrapper ul li
{
    display:block;
    position:relative;
}

.navMenu ul.navMenuList
{
    font-size: .83em;
}

#wol_header_nav .navMenu .navMenuList .menuGroupWrapper a
{
    border:solid 1px #FFFFFF;
    color:#0066CC;
    display:block;
    line-height:1.3em;
    padding:2px 4px;
    white-space:nowrap;
}
.navMenu .navMenuList .menuGroupWrapper a:hover
{
    background-color:#F3F7FD;
    color:#006699;
    border:1px solid #BED6FA!important;
    line-height:1.3em;
    text-decoration:none;
}

.navMenu .navMenuList .menuGroupAdditional
{
    border-top:1px solid #EBEBEB;
    margin:4px 1px 0 1px;
    padding-top:4px;
}

.navMenu .navMenuList .menuGroupWrapperShadow
{
    border-color:#000000;
    border-style:solid;
    border-width:0 2px 2px 0;
    height:100%;
    left:1px;
    filter:alpha(opacity=10);
    opacity:0.1;
    moz-opacity:0.1;
    position:absolute;
    top:1px;
    width:100%;
    z-index:3;
}

#wol_header_nav .navMenu .navMenuList div.current a.menuTitleLink, 
#wol_header_nav .navMenu .navMenuList div.current a.menuTitleLink:visited,
#wol_header_nav .navMenu .navMenuList div.current a.menuTitleLink:active, 
#wol_header_nav .navMenu .navMenuList div.current a.menuTitleLink:link,
#wol_header_nav .navMenu .navMenuList li.current a, 
#wol_header_nav .navMenu .navMenuList li.current a:visited,
#wol_header_nav .navMenu .navMenuList li.current a:active,
#wol_header_nav .navMenu .navMenuList li.current a:link
{
	color:#333333;
}

#base_page_footer, #header_right
{
	font-family:segoe UI,verdana,arial,sans-serif;
}
